<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="keyboard">
                    <match url="keyboard" ignoreCase="false" />
                    <action type="Rewrite" url="keyboard.php" />
                </rule>
                <rule name="message">
                    <match url="message" ignoreCase="false" />
                    <action type="Rewrite" url="message.php" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="message">
                    <match pattern="message.php" ignoreCase="false" />
                    <action type="Rewrite" value="message" />
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
